#fifthSlide {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fifthSlideTopState {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 100%;
  background-color: #d0d7df;
}

.servicesState {
  text-align: center;
  width: 25%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicesState h1 {
  margin: 0;
  font-size: 14px;
}

.servicesState p {
  width: 54%;
  color: #696969;
  margin: 0;
}

.servicesState img {
  width: 11%;
  height: 5vh;
  margin: 5%;
}

.fifthSlideButtonState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-color: #10c9c3;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 80%;
}

.slick-dots {
  padding-left: 44% !important;
}

.slideContent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  color: white;
}

.slideContent p {
  text-align: center;
  padding: 5%;
  margin: 0;
  font-size: 24px;
}

.slideContent span {
  font-size: 16px;
}
